/* ===================================
   SEÇÃO SOBRE MIM COM FOTO
=================================== */

.sobre-container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:40px;
}

.foto-container{
    flex:1;
    display:flex;
    justify-content:center;
}

.foto-perfil{
    width:280px;
    height:280px;
    object-fit:cover;
    border-radius:50%;
    border:4px solid #00bfff;
    box-shadow:0 0 20px rgba(0,191,255,.4);
}

.sobre-texto{
    flex:2;
}

/* Responsivo */
@media(max-width:768px){

    nav ul{
        flex-direction:column;
        text-align:center;
    }

    nav li{
        margin:12px;
    }

    section{
        margin:20px;
        padding:25px;
    }

    .sobre-container{
        flex-direction:column;
        text-align:center;
    }

    .foto-perfil{
        width:220px;
        height:220px;
    }
}
